@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><img src="~/content/images/Zach.jpg" alt="Zach" /></h1>

    <p>My name is Zachary Alleman. I have over 6 years experience in .NET development.</p>
    
    <p>At my previous job I worked on Computer Aided Dispatch software used internationally by emergency service call centers.
       The application allowed dispatchers to take calls and direct resources, such as police units, EMS, or fire trucks to a scene.
       Examples of my personal contributions are as follows: Using WPF and C# I created an interactive display to show the statuses of all police units active in a given jurisdiction.
       The list of units shown could be filtered or sorted by a number of properties, such as unit status, location, name, etc.
       I also Developed a service to recurrently notify officers to be on the lookout for individuals or vehicles that may have been involved in an incident.
   </p>

    <a style="margin-top:20px" class="btn btn-primary" asp-area="" asp-controller="Weather" asp-action="Weather">Weather Demo</a>
    <br />
    <a style="margin-top:20px" class="btn btn-primary" asp-area="" asp-controller="Login" asp-action="Login">Authentication Demo</a>
</div>
